@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Arima:wght@100..700&family=Bungee&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Didact+Gothic&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gamja+Flower&family=Hammersmith+One&family=Luxurious+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Port+Lligat+Slab&family=Roboto+Slab:wght@100..900&family=Solway:wght@300;400;500&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
}

body {
   height: 10000px;
}

html {
   scroll-behavior: smooth;
   scroll-padding-top: 100px;
}