   /* STYLES OF EACH PAGE OF DISHES */
   #mainDish, #dessert, #streetfood, #beverage {
      padding-top: 40px;
   }

   .heder {
      font: normal 600 6rem "Dancing Script", cursive;
      color: #505316;
      text-align: center;
      /* margin: 0; */
   }

   .caption {
      font: normal 500 1.7rem "Solway", serif;
      text-align: center;
      margin-right: 90px;
      letter-spacing: 5px;
      color: #493535;
      font-weight: bold;
   }

   #md, #des, #sf, #bev {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      left: 25px;
   }

   .container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 100px 200px 100px 150px;
   }

   .recipe-photo {
      width: 550px;
      height: 673px;
   }

   .text-section {
      flex: 1;
      padding-left: 20px;
   }

   .text-section h1 {
      display: grid;
      font: normal 500 5rem "DM Serif Display", serif;
      color: #597cff;
      margin: 50px 0 -10px 60px;
   }

   #twoSection {
      display: inline !important;
      
   }

   .text-section h2 {
      padding-left: 150px;
      display: block;
      font: normal 500 2.5rem "Fraunces", serif;
      margin-left: 80px;
      letter-spacing: 5px;
      margin-bottom: 35px;
   }

   .text-section p {
      margin: 20px 0 0 30px;
      font: normal 400 17px "Solway", serif;
      line-height: 1.1;
      letter-spacing: 1.5px;
      text-align: justify;
   }

   .mdRep, .desRep, .sfRep, .bvRep {
      background-color: #ffd230;
      margin: 250px 250px 0 250px;
      justify-items: center;
      padding: 150px;
      height: 1800px;
   }

   .whitebg {
      background-color: rgb(249, 242, 242);
      height: 1750px;
      width: 990px;
      left: 262px;
      position: absolute;
   }
   
   .bungee-regular {
      font-family: "Bungee", serif;
      font-weight: 500;
      font-style: normal;
      text-align: center;
      position: relative;
      top: -30px;
      font-size: 36.5px;
   }

   .whitebg p{
      font: normal 400 2rem "Port Lligat Slab", serif;
      padding: 6.2rem 0 0 6.25rem;

   }

   .whitebg h2{
      font: normal 400 2rem "Port Lligat Slab", serif;
      padding: 6.2rem 0 0 6.25rem;

   }

   .top-photo img {
      margin-left: 650px;
      margin-top: 50px; 
      border-radius: 100%;
      width: 200px;
      height: 200px;
      position: absolute;
   }

   .ingredients {
      display: inline-flex;
      flex-direction: column;
      padding: 2rem 0 0 12rem ;
      font: normal 1.5rem "Open Sans", "serif";
   }

   .vid{
      justify-content: center;
      margin:50px 230px 0 160px ;
   }

   .steplist ul{
      list-style: none; 
      font: normal 400 1.2rem "Oswald", serif;
      margin: 35px 0 10px 175px;
   }

   .steplist p{
      list-style: none;
      text-align: justify; 
      font: normal 400 0.9rem "Arapey", serif;
      margin: -85px 0 10px -100px;
      width:660px
   }